* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style navigation bar */
nav {
    background-color: #fff;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    top: 4%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.logo a {
    color: #000;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.menu-toggle {
    display: none; /* Sembunyikan hamburger button pada tampilan desktop */
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center; 
}

.menu li {
    position: relative; 
}

.menu li a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.register-button {
    background-color: #4CAF50; 
    border: none;
    border-radius: 5px; 
    padding: 10px 20px;
    top: 50%; 
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.register-button:hover {
    background-color: #45a049; 
}

.home {
    width: 90%;
    display: flex;
    margin: 0 auto;
    border: none;
    gap: 20px;
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10%;
}
.home-content {
    list-style: none;
    gap: 20px;
    margin: 0 auto;
    padding-inline-start: 0%;
    align-items: center;
}

.home-content p {
    font-weight: normal;
}

.home-content-list {
    list-style: none;
    gap: 20px;
    margin: 0 auto;
    padding-inline-start: 0%;
}

.home-button {
    background-color: #4CAF50; 
    border: none;
    border-radius: 5px; 
    padding: 10px 20px;
    top: 50%; 
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.home-button:hover {
    background-color: #45a049; 
}

.our-service-section {
    display: flex;
    width: 75%;
    margin: 0 auto;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Style Our Service image */
.our-service-image {
    flex: 1;
    margin-right: 20px;
}

.our-service-image img {
    max-width: 100%;
    height: auto;
    display: block;
}

.our-service-info {
    flex: 2;
}

.our-service-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.our-service-info p {
    font-size: 16px;
    line-height: 1.5;
}

.benefits {
    list-style-type: none; 
    margin-left: 20px;
    padding: 0;
}

.benefits li {
    font-size: 16px;
    margin-bottom: 10px;
    position: relative;
    padding-left: 30px; 
}

.benefits li::before {
    content: "";
    background-image: url("img/Group 53.svg"); 
    background-repeat: no-repeat; 
    width: 25px; 
    height: 25px; 
    position: absolute;
    left: 0;
    top: 0;
}

/* Style Why Us section */
.why-us-section {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

.why-us-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.why-us-section p {
    font-size: 16px;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.card {
    width: calc(25% - 32px); 
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.card h3 {
    font-size: 18px;
    margin-top: 10px;
}

.card p {
    font-size: 16px;
}

.card-icon {
    text-align: left;
    margin-bottom: 10px;
}

.card-icon img {
    width: 40px;
    height: 40px;
}

/* style testimonial */
.testimonial-section {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
}

.testimonial-section header {
    text-align: center;
    padding: 20px 0;
}

.testimonial-container {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    margin: 0 auto;
}

.testimonial-card {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 10px;
    overflow: hidden;
    width: 50%;
    background-color: #F1F3FF;
    /* max-width: 500px; */
    /* border: 1px solid black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.testimonial-card img {
    width: 30%;
    height: auto;
}

.testimonial-info {
    padding: 20px;
    width: 50%;
}

.testimonial-info p {
    font-size: 18px;
}

.author {
    margin-top: 20px;
    font-style: italic;
    font-weight: bold;
}

.controls {
    text-align: center;
    margin-top: 20px;
}

.controls a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #000;
}

.controls a:hover {
    background-color: #5CB85F;
    color: white;
    border: none;
}

.controls .round {
    border-radius: 50%;
}

/* style cta banner */
.cta-banner {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
}

.cta-banner p {
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 50%;
    padding-bottom: 20px;
}

/* style faq */
.faq-container {
    display: flex;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.faq-description {
    flex: 1;
    margin-right: 20px;
}

.faq-questions {
    flex: 1;
}

.faq-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0;
}

.faq-question-text {
    flex-grow: 1;
}

.faq-toggle-button {
    cursor: pointer;
    font-size: 20px;
    transform: rotate(270deg);
}

/* style footer */
footer {
    /* background-color: #333;
    color: #fff; */
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.footer-left {
    flex: 1;
    padding: 0 20px;
}

.footer-left p {
    padding-bottom: 50px;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-info p {
    margin: 0;
}

.footer-center {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    padding: 0 20px;
}

.footer-section a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.footer-right {
    flex: 1;
    text-align: left;
    padding: 0 20px;
}

.social-media a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.copyright {
    flex: 1;
    /* background-color: #222; */
    text-align: center;
    /* padding: 10px 0; */
    /* color: #fff; */
}

@media (max-width: 768px) {
    .menu {
        display: none; /* Sembunyikan daftar menu pada tampilan mobile */
        flex-direction: column;
        position: absolute;
        top: 80px; /* Sesuaikan dengan tinggi navigasi Anda */
        left: 0;
        background-color: #fff;
        width: 100%;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }

    .menu.active {
        display: flex; /* Tampilkan daftar menu saat tombol hamburger ditekan */
    }

    .menu-toggle {
        display: block; /* Tampilkan hamburger button pada tampilan mobile */
        cursor: pointer;
    }

    /* Animasi hamburger button */
    .bar {
        background-color: #000;
        height: 3px;
        width: 25px;
        margin: 3px 0;
        transition: 0.4s;
    }

    .menu-toggle.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    
    .home {
        flex-direction: column;
    }

    .car-img {
        width: 100%;
    }

    .our-service-section {
        flex-direction: column;
    }

    .cards-container {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }

    .testimonial-container {
        flex-direction: column;
    }

    footer{
        flex-direction: column;
    }

    .footer-section{
        margin-bottom: 10px;
    }

    .footer-right {
        flex: 1;
        text-align: left;
        margin: 20px 0;
    }

}